extends layout

block content
    h2(class='py-2') ClubGG
    p
        | A variety of micro, small, and mid stakes cash games are running in 
        a(href='https://play.clubgg.net/dlink/7KAFf6m2TgiDbFif8') The Card Room 
        | club on ClubGG.  The currency in this club is ADA, giving 
        | utility to your crypto currency!!  To get started, see below.

    h4(class='py-2') Promotions
    ol(style='color: white;')
        li First time deposit bonus.  Receive a 50% bonus with your first time deposit (up to 10 ADA).
        li Referral bonus.  Receive 10 ADA when your referral deposits 20 or more ADA.

    h4(class='py-2') On-board
    ol(style='color: white;')
        li Download the application at 
            a(href='https://www.clubgg.net/') clubgg.net
        li Search for club ID 
            b 434282 
            | and join.
        li To get chips: 
            ul(style='color: white;')
                li Join 
                    a(href='https://discord.com/invite/WETf8Y9wF3') The Card Room 
                    | on Discord.  You'll be given the @CLUBGG role.
                li Message SuperKK#5404 on Discord or 
                    a(href='https://twitter.com/superkk76') @superkk76 
                    | on Twitter with your request.
                li Deposit* the same amount of ADA as chips requested to 
                    a(href='https://pool.pm/$tcr.clubgg') $tcr.clubgg
                li Send the transaction ID to SuperKK and your ClubGG account will 
                    | be credited.
        li Withdrawal may be requested at any time**.  To withdraw, contact SuperKK. After 
            | verifying your chip count the request will be approved and transaction sent 
            | to the same address the deposit was received from.  Please note that a small 
            | amount may be deducted to cover network transaction fees (~0.2 ADA).
    p
        | * Withdrawals will be sent to the same address the deposit was made from.  Please 
        | make sure you have custody of the wallet used to deposit chips.  If you would like 
        | to use an $adahandle, mention it at the time of deposit.
        br
        | ** You will be required to play a minimum of 100 hands to withdraw after 
        | receiving free / bonus chips.

    h4(class='py-2') Games 
    table(class='table table-dark')
        thead
            tr
                th(scope='col') Table
                th(scope='col') Stake (ADA)
                th(scope='col') Min Buyin
                th(scope='col') Max Buyin
                th(scope='col') Rake
                th(scope='col') Cap (bb)
        tbody
            tr
                th(scope='row') NLH Lovelace
                td 0.02 / 0.04
                td 2
                td 6
                td 0%
                td 0
            tr
                th(scope='row') NLH Byron
                td 0.05 / 0.10
                td 5
                td 15
                td 0%
                td 0
            tr
                th(scope='row') NLH Shelley
                td 0.10 / 0.20
                td 10
                td 40
                td 0%
                td 0
            tr
                th(scope='row') NLH Goguen
                td 0.25 / 0.50
                td 25
                td 150
                td 1%
                td 1.5
            tr
                th(scope='row') NLH ADA
                td 0.50 / 1
                td 50
                td 300
                td 1%
                td 1
            tr
                th(scope='row') NLH Basho
                td 1 / 2
                td 100
                td 600
                td 1%
                td 0.8
            tr
                th(scope='row') NLH Voltaire
                td 2 / 4
                td 200
                td 1200
                td 1%
                td 0.5
