extends layout

block content
    script(src='https://www.google.com/recaptcha/api.js?render=6Lc5C4AgAAAAAMYR3Q2xYdMERDJlrOHNml7QO3mA')
    div(class="container-fluid")
        div(class='row align-items-start justify-content-evenly')
            div(class='col align-self-start px-0')
                h2 COLLAB
                p
                    | This is more than just about us; we are looking to build a community of players, 
                    | artists, NFT junkies and gaming degenerates, who will work together to build a 
                    | space dedicated to excellence and originality.
                p
                    | If you are interested in this concept, then please get in touch and let’s see 
                    | where we can take this idea together.
            div(class='col align-self-start')
                h4(class='pt-2') Request Form:
                form(method='POST' action='')
                    div(class='form-group py-1')
                        input(class="form-control background-black" style='color: white; background: black;' type='text', placeholder='Your name*' name='name' id='name' required minLength='2' autofocus)
                    div(class='form-group py-1')
                        input(class="form-control background-black" style='color: white; background: black;' type='email', placeholder='Your email address*' name='email' id='email' minLength='6' required)
                    div(class='form-group py-1')
                        input(class="form-control background-black" style='color: white; background: black;' type='text', placeholder='Subject*' name='subject' id='subject' minLength='2' required)
                    div(class='form-group py-1')
                        textarea(class="form-control background-black" style='color: white; background: black;' rows='7' placeholder='Message*' name='message' id='message' minLenth='10' required)
                    div(class='form-group py-1')
                        input(type='hidden' name='token' value='' id='grecaptcha-token' required)
                        p(style='color: red; display:none;' id='error-response-message') Error:
                        p(style='display:none;' id='success-response-message') Success:
                        button(type='button' class='btn btn-primary' id='submit-button') Send
                script
                    include /javascripts/recaptcha_collab.js    
