extends layout

block content
    h2(class='py-2') COMMUNITY INITIATIVES 
    h4(class='pt-2') Poker
    p
        | TCR hosts poker games on a bi-weekly basis.  Follow us on Discord or 
        | Twitter (link below) to be notified of the next game.  Games are free
        | to play and run on pokernow.club.  NFTs from TCR and other partner 
        | projects are given as prizes.

    h4(class='pt-2') Stake 
    p
        | After mutations are delivered a Cardano stake pool will be setup.  
        | Stake pool rewards will be used to provide additional benefits to 
        | TCR NFT HODLers.
        
    h4(class='pt-2') Marketplace
    p 
        | After staking, KK will begin integrating open source marketplace smart 
        | contracts into the website  so that TCR NFTs can be traded directly on 
        | thecardroom.io
        
    h4(class='pt-2') Open Source
    p 
        | The TCR vending machine software and website are open source and may 
        | be used for your own projects.
        a(href='https://github.com/kris-76/thecardroom') The Card Room Source

    h4(class='pt-2') Merch 
    p 
        | Toying with ideas of merch to make the TCR NFTs come to life.  Watch 
        | this space for further announcements.
        
    h4(class='pt-2') Minting Services 
    p
        | All the software used to mint TCR NFTs as well as the website is open 
        | source.  For the lowest fees around your project can be minted on the 
        | TCR servers.  Message KK in Discord or fill out the 
        a(href='/collab') Collab Request 
        | form to get started.

    h4(class='pt-2') Consulting
    p 
        | KK is a professional software engineer with experience across a wide
        | range of technologies and platforms.  Need some help or ideas on how
        | to proceed with your project?  Contact KK in Discord and show that you 
        | HODL a TCR NFT to discuss your project.
    