extends layout

block content
    h2(class='pt-2') MUTATE - FAQ

    h4(class='pt-3') How?
    p
        | Select a "Normie" NFT, select a "Mutation" NFT and click the "Mutate!" button.  Send ADA to the address 
        | provided from the same wallet containing the selected NFTs.  Keep the selected NFTs in your wallet until 
        | the mutant is delivered.


    h4(class='pt-3') How much?
    p
        | 12 ADA.  2 ADA will be returned with the NFT.  Effective cost just 10 ADA.  Send one payment for each request, do 
        | not combine payments.


    h4(class='pt-3') Are the NFTs burned?
    p
        | No NFTs are burned in the mutation.  Any transaction received with additional assets will be returned to the sender and the
        | mutation request will be cancelled.  Do not send any NFTs with the mint payment.


    h4(class='pt-3') How are the Mutation NFTs used?
    p
        | Each mutation has unique modifiers that will be applied to the normie NFT.  These modifiers are based on the metadata of the
        | mutation NFT and the potency of the mutation NFT affects the runtime of the AI.  Low to medium potency mutations will retain many
        | characteristics of the normie NFT wheras high potency mutations will retain very little of the normie NFT and result in a much more
        | abstract final form.  Higher potency mutations also product higer resolution:
    p
        | Each type of mutation influcences the AI based on type of mutation.  Acid will create cosmic mutants.  Shrooms are going to create
        | a psychedelic look.  Capsules and pills are going to create a surreal scene.  Combos will turn the NFT into a horror show mutant.
        | Each character adds additional modifiers for more variation.


    h4(class='pt-3') How are the mutant NFTs created?
    p
        | The mutant NFTs are created with an artificial intelligence image generation algorithm known as VQGAN+CLIP.  This algorithm 
        | generates an image from a text prompt.  Your "Normie" NFT is used as the starting image and the AI algorithm modifies it 
        | according to the text prompt.  The text prompt used is derived from the Mutation NFT  metadata.


    h4(class='pt-3') I don't see all my normies
    p
        | Due to copyright issues, only whitelisted "normie" NFTs may be mutated.  If you hold an NFT that is not yet white listed for mutation 
        | contact KK in discord to see about getting it added.


    h4(class='pt-3') Wen?
    p
        | Each image takes 10 to 20 minutes to create.  Due to technical complexities, mutant NFTs can not be generated in real time 
        | or provide a preview of what will be minted.  Requests will be batched together and processed once a week.  A few days later 
        | you will receive your mutant.


    h4(class='pt-3') What if I don't like the Mutant NFT?
    p
        | You may return the NFT to be burned and a refund will be provided.


    h4(class='pt-3') What is the utility?
    p 
        | Art and fun.  These will look great on a digital picture frame such as those from 
        a(href='https://www.nano-frames.com/') NANO.

  
    h4(class='pt-3') How many?
    p 
        | The policy will be locked after 5 years.  There is no cap on the number of mutant NFTs that can be created or the number of 
        | times a mutation NFT can be used.  However there is a cool down period after a mutation NFT is used, preventing them from
        | being used more than once every 45 days.


    h4(class='pt-3') What is the roadmap?
    p
        | The long term plan is to build out a library of mutation AI algorithms.  New mutation features will be rolled 
        | out as they become available.

    p
        | The mutatant policy is created with a 5% royalty.  Revenue generated from royalty payments will be used to benefit 
        | TCR NFT HODLers and fund TCR communty initiatives.  ADA generated from minting mutants will be held in the TCR wallet.  Some 
        | will be used to pay for AI server costs.  The majority will be HODL'd and added to the pledge when setting up a TCR stake pool.
