extends layout

block content
    h2(class='pt-2') MUTATE - FAQ

    h4(class='pt-3') Wen?
    p
        | Soon! 


    h4(class='pt-3') How?
    p
        | Select your "Normie" NFT, select your "Mutation" NFT and click the "Mutate!" button.  Send ADA to the address provided.


    h4(class='pt-3') How much?
    p
        | 12 ADA.  2 ADA will be returned with the NFT.  Effective cost just 10 ADA.


    h4(class='pt-3') Are the NFTs burned?
    p
        | No NFTs are burned in the mutation.  Any transaction received with additional assets will be returned to the sender and the
        | mutation request will be cancelled.


    h4(class='pt-3') How are the Mutation NFTs used?
    p
        | The AI will take metadata from the Mutation NFTs to create the mutant NFTs.  The potency of a Mutation will be used
        | to influence the AI as follows:
        ul(style='color: white;')
            li Low: Short runtime
            li Medium low: Short runtime, 2x resolution
            li Medium: Medium runtime, 2x resolution
            li Medium high: Long runtime, 3x resolution
            li High: Long runtime, 4x resolution


    h4(class='pt-3') How are the mutant NFTs created?
    p
        | The mutant NFTs are created with an artificial intelligence image generation algorithm known as VQGAN+CLIP.  This algorithm 
        | generates an image from a text prompt.  Your "Normie" NFT is used as the starting image and the AI algorithm modifies it 
        | according to the text prompt.  The text prompt used is derived from the Mutation NFT  metadata.


    h4(class='pt-3') Wen?
    p
        | Each image takes 10 to 20 minutes to create.


    h4(class='pt-3') Wen?
    p
        | Due to technical complexities, mutant NFTs can not be generated in real time or provide a preview of what will be minted.
        | Requests will be batched together and processed one a week.  Requests submitted by Friday will be processed by Monday.


    h4(class='pt-3') What if I don't like the Mutant NFT?
    p
        | You may return the NFT to be burned and a refund will be provided.


    h4(class='pt-3') What is the utility?
    p 
        | Art and fun.  These will look great on a digital picture frame such as those from 
        a(href='https://www.nano-frames.com/') NANO.

  
    h4(class='pt-3') How many?
    p 
        | The policy will be locked after 5 years.  There is no cap on the number of mutant NFTs that can be created or the number of 
        | times a mutation NFT can be used.  However there is a cool down period after a mutation NFT is used, preventing them from
        | being used more than once every 45 days.

    h4(class='pt-3') What is the roadmap?
    p
        | The long term plan is to build out a library of mutation AI algorithms.  New mutation features will be rolled 
        | out as they become available.

    p
        | The mutatant policy is created with a 5% royalty.  Revenue generated from royalty payments will be used to benefit 
        | TCR NFT HODLers and fund TCR communty initiatives.

