extends layout

block content
    h2(class='pt-2') TERMS & CONDITIONS
    p 
        | Terms and conditions will be updated as time permits and are subject 
        | to change.  Here are the basics in plain English.

    h3(class='pt-2') Series 1: King Charles
    p
        | Images are Copyright The Card Room.  Ownership of the images is not 
        | transferred to the underlying token holder.  Holders of the token are
        | licensed to use the associated image for personal, non-commercial use.
    p 
        | Sales through marketplaces that support it will be subject to a 3% royalty.

    h3(class='pt-2') Series 2: Mutation
    p
        | If you hold the token, you own the image.  You may use the image for
        | any and all personal or commercial purposes.  The Card Room retains the 
        | right to use the images on the website and social media platforms for 
        | marketing and promotion.  This does not permit you to use "The Card Room"
        | or other images for personal or commercial purposes.
    p 
        | Sales through marketplaces that support it will be subject to a 3% royalty.

    h3(class='pt-2') Mutants 
    p
        | The Card Room is merely the conduit by which the mutants are created,
        | The owner of the mutation and normie NFTs is the creator of the mutants.
        | As such, they own the Copyright to the associated mutant image and retain 
        | 100% ownership of the mutant image for any and all purposes, personal and 
        | commercial.  The Card Room will be permitted to use mutant images on the 
        | website and social media platforms for marketing and promotion purposes.
    p 
        | By connecting your wallet and submitting a mutation request, you certify that 
        | you are the owner of both mutation and normie NFTs.  You also certify that 
        | mutating the normie does not violate the copyright or terms and conditions of
        | the normie NFT.
    p 
        | Sales through marketplaces that support it will be subject to a 5% royalty.

    h3(class='pt-2') Third Parties
    p
        | Third parties may display The Card Room NFTs inside websites, dApps, or social 
        | media for non-commerical purposes.  Market places may collect a commission on 
        | sales.  Market places should make a royalty payment according to the royalty 
        | token minted under the policy id.
    p 
        | Have an idea and want to collab?  Contact KK in Discord to discuss.

    h3(class='pt-2') Website
    p
        | All content Copyright 2022 The Card Room or licensed for use.  "The Card Room"
        | and logos are not licensed for use.
